<title>Home</title>
<head>
<style>
div.container {
    width: 100%;
    border: 1px solid gray;
}
header, footer {
	padding:1em;
	color:black;
	background-color:slateblue;
	clear:left;
	text-align:center;
}
body {
    background-color: wheat;
}
nav {
	float:left;
	max-width:120px;
	margin: 0;
	padding:1em;
}
nav ul {
	list-style-type: none;
	padding: 0;
}
nav ul a {
	text-decoration: none;
}
article {
	margin-left: 130px;
	border-left: 1px solid gray;
	padding:1em;
	overflow:hidden;
}
</style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
{% block content %}
<body style="background-color:beige">
<div class="container">
<header>
	<h1 align="left" >CHEMBDDB <sub>1.1</sub></h1>
</header>

<p align= "right" >
{% if user.is_authenticated %}
	Hello, {{ user.username }}!!

	<a href="/chembddb/logout">Logout</a>
	&nbsp; &nbsp;
	<a href="/chembddb/submitrequest">Submit Molecule</a>
	{% if user.is_superuser %}
		&nbsp;&nbsp;
		<a href="/chembddb/reviewrequest">Review Pending Requests</a>
	{% endif %}
{% else %}
<a href="/chembddb/login">Login</a>
&nbsp; &nbsp;<!-- &nbsp is used for spacing -->
<a href="/chembddb/register">Register</a>
&nbsp; &nbsp;
{% endif %}
</p>
<article>

  <!-- <!-- this is the table --!>
<table class="table table-bordered">
<thead>
<tr>
    <th>Compound Name</th>
</tr>
</thead>
-->
<!-- This is the content inside the table -->
<tbody>
{% if compounds %}
    <ol type="1">
        {% for compd in compounds %}
            <tr><a href="{% url 'chembddb:mol_detail' compd.id %}" target = "_top">{{ compd.compound_str }}</a>
                <tr></tr><td><a href="{% url 'chembddb:mol_detail' compd.id %}" target="_top">{{ compd.SMILES_str }}</td></a></tr></li>
        {% endfor %}
    </ol>
{% else %}
    {% if query_text %} <!-- only if a query_text is searched and not found, display the message below -->
        <p style="color:red;">No compounds are available.</p>
    {% endif %}
{% endif %}
</tbody>

<!-- this part is for the pagination -->
{% if compounds.has_other_pages %}
    <ul class="pagination">
        {% if compounds.has_previous %}
            <li><a href="?page={{ compounds.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for page_no in compounds.paginator.page_range %}
            {% if compounds.number == page_no %}
                <li class="active"><span>{{ page_no }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><a href="?page={{ page_no }}">{{ page_no }}</a></li>
            {% endif %}
        {% endfor %}
        {% if compounds.has_next %}
            <li><a href="?page={{ compounds.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
{% endif %}

<!-- Displaying part ends here -->

</article>
<footer>Copyright &copy; chembddb.com</footer>
</div>
</body>
{% endblock %}